
body {    
        position: relative;
        width: 100%;
        height: 100%;
        background: url('http://unsplash.it/1200x800') center content-box  no-repeat ;
        background-size: cover;
          background-image: linear-gradient(to bottom right,#5289a8,#d8d7a6);
          opacity: .7; 
          background-color: #cad4a5;

        
      }
     
    

label, input {
    display: block;
}

input {
    margin: auto;
    color:rgb(6, 3, 36);
}

#login-info {
    text-align: center;
    margin-top: 100px;
  
}

#login-info a {
    display: block;
    margin-top: 4rem;
    color:rgb(184, 67, 67);

    
}